.proj__sec {
    margin-top: 99px; 
}

#p__header {
    color: #a5e481;
    font-family:"neon-tubes-2-regular";
    font-size: 40px;
    text-shadow:0 0 3px #1fcf0f, 5px 0 9px #37a803, 0 0 6px #24c904,  0 0 5px #26b912;
    animation: power 6s 1;
}
.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px #070606 solid;
    border-radius: 8px;
    background-color: #5e5d5d71;
    max-width: 370px;
    margin: 10px auto 10px auto;
    padding-bottom: 20px;
    height: fit-content;
}
.left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.proj1__name, .proj2__name {
    font-family:"neon-tubes-2-regular";
    margin-right: 15px;
    font-weight: 1000;

}
.proj1__name {
    text-shadow:0 0 3px #cf0f0f, 5px 0 9px #9b1d1d, 0 0 6px #a30d07,  0 0 5px #cc0808;
}
.proj2__name {
    text-shadow:0 0 3px #bdbb60, 5px 0 9px #cfd666, 0 0 6px #d4d65d,  0 0 5px #cbce32;
}
.gitLinks {
    font-size: 40px;
    margin-top: 7px;
}
.proj__bio {
    color: rgb(253, 253, 253);
    font-weight: bolder;
    margin: 0 5px 15px 5px;
}
.proj__links {
    color: rgb(255, 255, 255);
    border: 2px solid ;
    border-radius: 15px;
    padding: 0 5px 3px 5px;
    font-weight: bolder;
}

#muffled {
    color:white;
    background-color: red;
}

#franks {
    color: #1F1B1B;
    background-color: #F6C117;
}



@media screen and (min-width: 516px) {
    #p__header {
        font-size: 80px;
    }

    .project {
        flex-direction: row;
        max-width: 600px;   
    }
    .project:hover {
        transform: translateY(-3px);
        background-color: #5e5d5df3;
        box-shadow: inset 0 0 5px rgba(247, 244, 244, 0.35), 0 0 7px 5px rgba(241, 240, 240, 0.35);
        transition: .2s;
    }
    .left {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        margin-left: 30px;
    }
    .proj2__name, .proj1__name {
        font-size: 34px;
    }
    .gitLinks {
        font-size: 70px;
    }
    .gitLinks:hover {
        animation: bounce 2s infinite;
    }
    
    .right {
        display: flex;
        flex-direction: column;
    }
    .proj__bio {
        font-size: 20px;
        margin-top: 20px;
        margin-right: 10px;
    }
    .proj__links {
        font-size: 30px;
        border-radius: 30px;
    }
    #franks:hover {
        color:#FAEDCD;
        background-color: #D4A373;
        transition: .5s;
    }
    #muffled:hover {
        color: red;
        background-color: black;
        transition: .5s;
    }

@keyframes bounce {
    0% {
        transform: none;
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
    
    
}
}